<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div>
      <h1 class="text-4xl text-center">Login</h1>
      <form class="flex flex-col items-center" action="/login" method="POST">
        <input
          class="border border-gray-400 rounded p-2 m-2"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="border border-gray-400 rounded p-2 m-2"
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <input
          type="submit"
          value="Login"
          class="bg-green-500 text-white rounded p-2 m-2 hover:bg-green-600 transition"
        />
      </form>
    </div>
  </body>
</html>
