<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Learning</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">

  

    
    
    <div class="mt-8 w-full sm:w-80">
       <a href="/"  class="text-blue-600 -3 mb-4 inline-block" >HomePage</a>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h1 class="text-xl font-semibold text-gray-800"><%= filename %></h1>
                <p><%= filedata %></p >
            </div> 
            
    
    </div>

</body>
</html>
